<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <div class="col-md-4 offset-4 card-mt-4">
     <form action="">
         <div class="form-group">
             <h1>Registration page</h1>
             <label for="firstname">Firstname</label>
             <input type="text" name="firstname" id="firstname" class="form-control" placeholder="enter the firstname" required>
             <label for="middlename">Middletname</label>
             <input type="text" name="middlename" id="middlename" class="form-control" placeholder="enter the middlename">
             <label for="lastnamename">Lasttname</label>
             <input type="text" name="lasttname" id="lasttname" class="form-control" placeholder="enter the lasttname" required>
             <label for="email">Email address</label>
             <input type="email" name="email" id="emailaddress" class="form-control" placeholder="enter the email address" required>
             <label for="number">Phonenumber</label>
             <input type="number" name="Phonenumber" id="Phonenumber" class="form-control" placeholder="enter the Phonenumber" required>
             <label for="date">Date of birth</label>
             <input type="date" name="date of birth" id="date of birth" class="form-control">
              <label >Gender</label>
              <input type="radio" name="gender" id="female">  
              <label>Female</label>
              <input type="radio" name="gender" id="male">
              <label>Male</label>
            </div>
            <button class="btn btn-block btn-danger mb-4">submit</button>

     </form>
 </div>