<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <div class="col-md-5 offset-4 card">
     <form action="">
         <div class="form-group">
             <h1> facebook  login page</h1>
             <label for="username">USERNAME </label>
             <input type="text" class="username" id="username" class="form-control" placeholder="enter your username" required>
             <label for="password">PASSWORD</label>
             <input type="password" class="password" id="password" class="form-control" placeholder="enter your password" required>
            </div>
            <button class="btn btn-block btn-danger">SUBMIT</button>
     </form>
 </div>